@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#tools span {
    font-size: 24px;
    font-weight: bold;
}

#heading_logo {
    width: 50px;
    background-color: white;
}

.main-header img {
    width: 100%;
    height: 100%;
    /* Remove white space below image */
    vertical-align: bottom;
}

/* #background-content-header {
    width: 100%;
    height: 900px;
    background-image: url('/img/background-content-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
} */

#unrealengine {
    color: black;
}

#gimp {
    color: darkslategray;
}

#adobe {
    color: brown;

}

#characters {
    text-align: center;
}

/* Responsive Image */
#main_character {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

#rock {
    background-color: #452E24;
}

#fire {
    background-color: #2F3622;
}

#snow {
    background-color: #152731;
}

/* Just some fancy header, footer */
#main-header-container,
.footer-wrapper {
    background-color: #473d47;
    padding: 20px;
    color: rgba(255,255,255, 0.5);
}

/* Basic Side-by-side Sidebar, Content layout w/ display: table-cell */
#main-container {
    display: table-cell;
    width: 100%;
    height: 100%;
}

#sidebar {
    display: table-cell;
    width: 15%;
    background-color: #343638;
}

#sidebar a {
    display: block;
    padding: 10px;
    color: rgba(255,255,255, 0.5);
    margin: 15px 0 0 0;
    text-decoration: none;
}

#sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

#content {
    display: table-cell;
    width: 85%;
    padding-left: 10px;
    padding-right: 10px;
}

/* Right-Left Footer layout */
.footer-wrapper span {
    float: right;
}

.footer-wrapper a {
    color: rgba(255,255,255, 0.5);
}

.footer-wrapper a:hover {
    color: white;
}

/* CSS flex-box layout is a CSS3 web layout model. */
.flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; /* horizontal centering */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-item {
    padding: 0 10px 0 10px;
}

/* Responsive smaller screen */
/* @media only screen and (max-width: 900px) {
    #background-content-header {
        width: 100%;
        height: 505px;
        background-image: url('/img/background-content-header-table.png');
    }
} */

/* Responsive table screen */
@media only screen and (max-width: 600px) {
    #main-header-container, #main-container, #sidebar, #content  {
        display: block;
        width: 100%;
    }

    #sidebar a {
        margin: 0;
    }

    iframe {
        width: 300px;
        height: 168.75px;
    }

    /* #background-content-header {
        width: 100%;
        height: 337px;
        background-image: url('/img/background-content-header-table.png');
    } */
}

/* Responsive mobile screen */
/* @media only screen and (max-width: 400px) {
    #background-content-header {
        width: 100%;
        height: 225px;
        background-image: url('/img/background-content-header-mobile.png');
    }
} */
