#levels ol {
    counter-reset: li;
}

#levels ol > li {
    list-style: none;
    position: relative;
    margin-left: 2.25em;
    min-height: 4em;
}

/* Create cicles and move it around */
#levels ol > li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    margin-left: -2em;
    top: -.2em;
    left: 0;
}

/* Perfect circle w/ number centered */
#levels ol > li::before {
    /* 32px */
    font-size: 2em;

    /* 24px */
    width: 1.5em;
    height: 1.5em;
}

#levels ol > li:before {
    text-align: center;
    border-radius: 100%;
    color: white;
}

#levels ol > li:nth-child(1):before { background-color: #1B2124; }
#levels ol > li:nth-child(2):before { background-color: #74191E; }
#levels ol > li:nth-child(3):before { background-color: #152731; }
